.page-about {
  /* background-color: rgb(182, 112, 112); */
  flex-grow: 1;
  padding: 50px 46px;
  padding-bottom: 0;
}
.page-about p {
  max-width: 500px;
  margin-bottom: 23px;
  margin-top: 10px;
}
.page-about__info-list {
  display: flex;
  gap: 47px;
}
.info-list__card {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 10px 8px 10px;
}
.info-list__card img {
  width: 17px;
}
.info-list__card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
