* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Display", serif;
}

:root {
  --text-main-blue: #5671a6;
  --text-main-grey: #383838;
}

.wrapper {
  background-image: url();
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}
h1 {
  color: var(--text-main-blue);
  font-size: 36px;
}
h2 {
  color: var(--text-main-blue);

  font-size: 16px;
}
h3 {
  color: var(--text-main-blue);

  font-size: 16px;
}
h4 {
  color: var(--text-main-grey);
  font-size: 14px;
  font-weight: 500;
}
h5 {
  color: var(--text-main-grey);
  font-size: 16px;
}
h6 {
  color: var(--text-main-grey);
  font-size: 16px;
}
button {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(95, 106, 16);
  font-weight: 100;
}
.btn-demo {
  background: none;
  color: #5671a6;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 20px;
}
.btn-demo:hover {
  background: #5671a6;
  color: #5671a6;
}
.btn-contact {
  background: none;
  color: #5671a6;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 20px;
}
.btn-contact:hover {
  background: #5671a6;
  color: #5671a6;
}
