*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* создание css переменных в корневом элементе */

:root{
    --text-main-blue:#5671a6;
    --text-dark:#383838;
    --text-gray:#616161;
    --text-white:white;
}

.wrapper {
    background-image: url("../images/back-light.jpg");
    background-size: cover;
}
.Evgenii{
    font-family: 'Kaushan Script', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
}

h1{
    color: var(--text-main-blue);
    font-size: 36px;
}
h2{
    color: var(--text-main-blue);
    font-size: 32px;
}
h3{
    color: var(--text-main-blue);
    font-size: 16px;
}
h4{
    color: var(--text-dark);
    font-size: 16px;
}
h5{
    color: var(--text-dark);
    font-size: 14px;
}
h6{
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 400;
}

button{
    border-radius: 50px;
    border: 2px solid var(--text-main-blue);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-white);
    background: var(--text-main-blue); 
}
.btn-demo{
    transition: 1s;
}
.btn-demo:hover{
    transform: scale(110%);
    color: var(--text-main-blue);
    background: none;
}
.btn-demo:active{
    color: var(--text-main-blue);
    background: none;
    font-size: 12px;
    transition: 0ms;
}
.btn-contact{
    transition: 1s;
}
.btn-contact:hover{
    transform: scale(110%);
    color: var(--text-main-blue);
    background: none;
}
.btn-contact:active{
    color: var(--text-main-blue);
    background: none;
    font-size: 12px;
    transition: 0ms;
}